.footer__form__title {
	box-sizing: border-box;
	width: 229px;
	margin: 80px auto 0 0;
	padding: 0;
	color: #151515;
	font-weight: 600;
	font-size: 24px;
	font-style: normal;
	line-height: calc(32 / 24);
	text-align: left;
}

@media all and (max-width: 320px) {
	.footer__form__title{
		margin: 40px auto 0 0;
	}
}
