.bikes__slider{
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media all and (max-width: 320px) {
	.bikes__slider {
		width: 100%;
		margin-top: 20px;
	}
}

