:root {
	--background-image: url('../../../../../images/road_curve.svg');
}
.bike-type__slider__image__icon
{
	position: absolute;
	bottom: 120px;
	left: 120px;
	z-index: 1;
	box-sizing: border-box;
	width: 100px;
	height: 40px;
	background-image: url('../../../../../images/rectangle.svg');
	background-repeat: no-repeat;
}

.bike-type__slider__image__icon:root
{
	--background-image: url('../../../../../images/road_curve.svg');
}

.bike-type__slider__image__icon::before
{
	content: '';
	position: absolute;
	top: 16px;
	left: 16px;
	z-index: 2;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-image: var(--background-image);
	background-repeat: no-repeat;
}
