.bikes__slider__item{
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

@media all and (max-width: 320px) {
	.bikes__slider__item {
		gap: 3px;
	}
}
