$bgColorPrimaryLight: #f4f4f4;
$bgColorSecondaryLight: #efefef;
$bgColorOtherLight: #d7d4d4;
$bgColorOtherCB: #ffffff;
$colorPrimaryLight: #151515;
$colorSecondaryLight: #222222;
$colorThirdlyLight: #cfcfcf;
$borderColorLight: #e3e3e3;
$green: #24b47e;
$greenDark: #319e75;

$bgColorPrimaryDark: #333333;
$bgColorSecondaryDark: #2f2f2f;
$bgColorThirdlyDark: #ebebeb;
$bgColorOtherDark: #707070;
$bgColorOtherCBDark: #545454;
$bgColorRoundButtonDark: #434343;
$colorPrimaryDark: #ffffff;
$colorSecondaryDark: #efefef;
$colorThirdlyDark: #565656;
