.header {
	display: flex;
	flex-direction: row;
	justify-content: end;
	box-sizing: border-box;
	width: 1440px;
	margin: 0 auto;
	padding: 28px 120px 28px 120px;
}

@media all and (max-width: 320px) {
	.header {
		display: flex;
		flex-direction: row;
		justify-content: end;
		box-sizing: border-box;
		width: 100%;
		margin: 0 16px;
		padding: 0;

	}
}
