.train__img
{
	grid-area: img;
	box-sizing: border-box;
	width: 580px;
	height: 460px;
	margin: 0;
	padding: 0;
	background: url('../../../images/trainigs.png');
	background-repeat: no-repeat;
}

@media all and (max-width: 320px) {
	.train__img {
		width: 284px;
		height: 225px;
		background-size: cover;
	}
}
