.info__details__link{
	box-sizing: border-box;
	width: 180px;
	margin: 0;
	padding: 16px 0 16px 0;
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	font-style: normal;
	line-height: calc(18 / 14);
	letter-spacing: 1px;
	text-align: center;
	background: #24b47b;
	border: 0;
}
