.quote__img
{
	box-sizing: border-box;
	width: 650px;
	height: 460px;
	margin: 0;
	padding: 0;
	background: url('../../../images/title_image2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

@media all and (max-width: 320px) {
	.quote__img {
		width: 284px;
		height: 204px;
		margin-top: 20px;
	}
}
