.bikes{
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap: 120px;
	box-sizing: border-box;
	width: 1440px;
	margin-top: 120px;
	padding: 0 0 0	120px;
}

@media all and (max-width: 320px) {
	.bikes {
		gap: 0;
		width: 100%;
		margin: 0 16px 40px 16px;
		padding: 0;
	}
}
