.train__links__item {
	color: #151515;
	font-weight: 600;
	font-size: 18px;
	font-style: normal;
	line-height: calc(28 / 18);
}

@media all and (max-width: 320px) {
	.train__links__item {
		font-size: 14px;
		line-height: calc(20 / 14);
	}
}
