.info{
	position: relative;
	z-index: 0;
	display: grid;
	grid-template-rows: 200px 212px 50px min-content;
	grid-template-columns: 710px 610px;
	grid-template-areas:
		'title img'
		'text img'
		'link img'
		'bike-block img';
	padding: 0 0 0 120px;
}

@media all and (max-width: 320px) {
	.info {
		grid-template-rows: auto auto auto auto;
		grid-template-columns: auto;
		grid-template-areas:
			'title'
			'img'
			'text'
			'link';
		width: 100%;
		margin: 0 16px 40px 16px;
		padding: 0;
	}
}
