.switcher__input__label
{
	position: relative;
	display: block;
	width: 44px;
	height: 24px;
	background-color: #ffffff;
	border-radius: 9999px;
	box-shadow: 0 0 0 #ffffff;
	cursor: pointer;
	transition: 0.5s;
}

.switcher__input__label::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background-color: #24b47e;
	border-radius: 70px;
	transition: 0.5s;
}

.switcher__input__cb:checked + .footer__switcher__input__label::after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.switcher__input__cb:checked + .footer__switcher__input__label {
	background-color: #ffffff;
}

.switcher__input__label:active::after {
	width: 26px;
}
