.quote__details__author__name
{
	box-sizing: border-box;
	width: 180px;
	margin: 0;
	padding: 0;
	color: #151515;
	font-weight: 500;
	font-size: 20px;
	font-style: normal;
	line-height: calc(32 / 20);
	text-align: left;
	border: 0;
}
