.bikes__header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	width: 1200px;
	margin: 0;
	padding: 0;
}

@media all and (max-width: 320px) {
	.bikes__header {
		c
	}
}
