.info__bike-block
{
	display: flex;
	grid-area: bike-block;
	flex-direction: row;
	gap: 30px;
	box-sizing: border-box;
	padding: calc(167px - 50px) 0 0 0;
}
@media all and (max-width: 320px) {
	.info__bike-block {
		display: none;
	}
}
