.quote__details__title{
	box-sizing: border-box;
	width: 470px;
	margin: 0;
	padding: 0;
	color: #151515;
	font-weight: 600;
	font-size: 34px;
	font-style: normal;
	line-height: calc(44 / 34);
	text-align: left;
	border: 0;
}

@media all and (max-width: 320px) {
	.quote__details__title {
		width: 284px;
		margin-top: 40px;
		font-size: 23px;
		font-style: normal;
		line-height: calc(29 / 23);
		letter-spacing: -0.5px;
	}
}
