.info__bike-frame
{
	position: absolute;
	top: 347px;
	left: 630px;
	width: 810px;
	height: 430px;
	background-color: transparent;
}

@media all and (max-width: 320px) {
	.info__bike-frame {
		top: 311px;
		left: 0;
		width: 234px;
		height: 160px;
	}
}
