.switcher {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	gap: 24px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #efefef;
}

@media all and (max-width: 320px) {
	.switcher {
		align-self: center;
		margin: 314px auto 36px auto;
	}
}
